<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Ferienhaus "Lilie" in Bernau</title>



    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <link rel="stylesheet" type="text/css" href="./css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="./css/style.css">

    <style type="text/css">
      :root #header + #content > #left > #rlblock_left
      {display:none !important;}
    </style>
  </head>
  <body>




    <nav class="container-fluid visible-md-block visible-lg-block" id="main-nav" style="top: 0px;">
      <div class="container">
	<ul>
	  <li><a class="scroll-link" data-target="location" href="#lage">Lage</a></li>
	  <li><a class="scroll-link" data-target="schedule" href="#ausstattung">Ausstattung</a></li>
	  <li><a class="scroll-link" data-target="people" href="#fotos">Fotos</a></li>
	  <li><a class="scroll-link" data-target="faq" href="#verfuegbarkeit">Verfügbarkeit</a></li>
	</ul>
      </div>
    </nav>




    <header class="container-fluid" id="header">

      <div class="container">
	<div class="row">
	  <div class="col-md-8 col-md-offset-2 text-center">
	    <div id="countdown">Ferienhaus "Lilie" <p> <h2> Eine kleine Oase in Bernau bei Berlin</h2></div>
	  </div>
	</div>
      </div>

      <div class="bg-overlay-gradient"></div>
      <div class="header-bg"></div>
    </header>






    <section class="container-fluid bg-grey" id="location">
      <div class="container">
      	<div class="row">
      	  <div class="col-md-4 col-sm-6">
      	    <div class="location-card">

              <div style="display:inline-block" id="bewertung"><a href="http://www.fewo-direkt.de/ferienwohnung-ferienhaus/p2499750" rel="nofollow"><img src="http://www.fewo-direkt.de/haow/api/image/homeaway_de/trips/2499750/reviews" alt="HomeAway Property" style="border:none;" rel="nofollow"/></a><div style="text-align:center;">Bewertungen <a href="http://www.fewo-direkt.de/ferienwohnung-ferienhaus/p2499750#reviews" rel="nofollow">lesen</a> oder <a href="http://www.fewo-direkt.de/ferienwohnung-ferienhaus/ferienhausbewertungen/write/p2499750#write" rel="nofollow">schreiben</a>.</div></div>

              <!-- <img src="./images/map-image.jpg" class="img-responsive"> -->

      	    </div>
      	  </div>
      	</div>
      </div>
      <div class="location-map">

<iframe
  id="location-map-iframe"
  class="scrolloff"
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3137.1650532943368!2d13.576070623252177!3d52.67650368699215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a9b3c08e249fad%3A0xe49a4550e8080955!2sLilienstra%C3%9Fe+3%2C+16321+Bernau+bei+Berlin!5e0!3m2!1sde!2sde!4v1468660923748"
  width="100%" height="100%" frameborder="0" style="border:0;height:100%;width:100%;" allowfullscreen="">
</iframe>

      </div>
    </section>

    <section class="container-fluid" id="schedule">
      <div class="container">
	<div class="row">
	  <div class="col-md-12">
	    <h1><%= l["schedule"] %></h1>
	  </div>
	</div>
	<div class="row">
	  <% schedule.each do |day, items| %>
	    <div class="col-md-4">
	      <div class="faq-question">
		<h2 class="text-orange"><%= day %></h2>
		<table class="ft-table">
		  <thead>
		    <tr>
		      <th class="ft-table-col ft-table-col-time" width="20%">Time</th>
		      <th class="ft-table-col ft-table-col-description" width="80%">Description</th>
		    </tr>
		  </thead>
		  <tbody>
		    <% items.each do |time, item| %>
		      <tr>
			<td class="ft-table-col ft-table-col-time" width="20%"><%= time %></td>
			<td class="ft-table-col ft-table-col-description" width="80%"><%= item %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
	      </div>
	    </div>
	  <% end %>
	</div>
      </div>
    </section>

    <section class="container-fluid bg-grey" id="people">
      <div class="container">
	<% if people %>
	  <script type="text/javascript">
	    window.connections = window.connections || {};
	  </script>

	  <div id="svgContainer">


	    <svg id="svg1" width="0" height="0">


      <path
		     id="<%= name_to_path(name) %>-path"
		     d="M0 0"
		     stroke-width="6px"
		     style="stroke:#cc0000; stroke-dasharray:6,16; fill:none; opacity: 0.4;"/>
		  <script type="text/javascript">
		    window.connections["<%= name_to_path(name) %>"] = "<%= name_to_path(props["connect"]) %>";
		  </script>
		<% end %>
	      <% end %>
	    </svg>
	  </div>
	<% end %>

	<div class="row">
	  <div class="col-md-12 top50">
	    <h1 class="text-center"><%= l["people"] %></h1>
	  </div>
	</div>

	<% if people %>
	  <% people.each_slice(4) do |ppl| %>
            <div class="row">
	      <% ppl.each do |name, props| %>
		<div class="team-member col-md-3 col-xs-12">
		  <div class='circular'  id="<%= name_to_path(name) %>"
		       style='background-image: url("<%= "./images/#{name_to_path(name)}.jpg" %>")'>
		  </div>
		  <span class="member-title"><%= name %></span>
		  <p><%= props["description"] %></p>
		</div>
	      <% end %>
	    </div>
          <% end %>
	<% else %>
	  <div class="row">
	    <div class="col-md-12">
	      <h3 class="text-center"><%= l["not-logged-in"] %></h3>
	    </div>
	  </div>
	  <div class="row">
	    <div class="col-md-12">
	      <h3 class="text-center">
		<a href="/auth"><%= l["login"] %></a>
	      </h3>
	    </div>
	  </div>
	<% end %>
      </div>
    </section>

    <section class="container-fluid" id="verfuegbarkeit">
      <div class="container">
	<div class="row">
	  <div class="col-md-12">
	    <h1>Verfügbarkeit</h1>
	  </div>





	</div>


  <div align="center" style="display:inline-block;"><iframe scrolling="no" width="518" height="770" frameBorder="0" style="overflow:hidden;border:none" src="http://www.fewo-direkt.de/haow/widgets/calendar.html?propertyId=2499750&unitId=3043289&monthCount=12&orientation=full&site=homeaway_de"></iframe><a href="http://www.fewo-direkt.de/ferienwohnung-ferienhaus/p2499750" style="display:block;text-align:center;margin-top:-30px; font-size:12px;" rel="nofollow">FeWo-direkt.de #2499750</a></div>



	<div class="row">
	  <% faqs.each do |question, answer| %>
	    <div class="col-md-5">
	      <div class="faq-question">
		<h2 class="text-orange"><%= question %></h2>
		<p><%= answer %></p>
	      </div>
	    </div>
	  <% end %>
	</div>
      </div>
    </section>

    <script type="text/javascript" src="./javascript/jquery.min.js"></script>
    <script type="text/javascript" src="./javascript/app.js"></script>
  </body>
</html>
